$color:cyan;
$bgcolor:green;

body{
    color:$color;
    font-size: 2em;
    background-color: $bgcolor;
}
%message{
    font-size:1em;
    color:black;
    margin-bottom: 10px;
}
.message{
    @extend %message
}
#w{
    background-color: yellow;
}
#e{
    background-color: red;
}
#m{
    background-color: lightblue;
}